ETEC_IgA_IVTT_RawData_tidy.csv
ETEC_IgG_IVTT_RawData_tidy.csv
IVTT_stats.R
IgA_PurifiedProtein_RawData_tidy.csv
IgG_PurifiedProtein_RawData_tidy.csv
PanEC_IgA_IVTT_RawData_tidy.csv
PanEC_IgG_IVTT_RawData_tidy.csv
PurProt_stats.R
TrEAT_Clinical_Metadata_tidy.csv
